USE [PCEPI2]
GO
/****** Object:  StoredProcedure [dbo].[RELACION_FP]    Script Date: 01/15/2016 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[RELACION_FP]
(
	@RFC_PEC nvarchar(13),
	@RFC_CONSEJERO1 nvarchar(13),
	@RFC_CONSEJERO2 nvarchar(13),
	@RFC_CONSEJERO3 nvarchar(13),
	@RFC_CONSEJERO4 nvarchar(13),
	@RFC_CONSEJERO5 nvarchar(13),
	@RFC_CONSEJERO6 nvarchar(13),
	@SIGLAS nchar(7),
	@FECHA_OFICIO smalldatetime,
    @ID_PERIODO int,
    @ID_PLANTEL int,
    @ID_AREA int
)
AS 
BEGIN TRAN t1;
IF(@SIGLAS IS NULL  OR @ID_PERIODO IS NULL)
	BEGIN
		PRINT N'VARIABLES NULAS';
	END   
ELSE
	BEGIN	
		INSERT INTO FIRMANTE1(RFC_PEC,RFC_CONSEJERO1,RFC_CONSEJERO2,RFC_CONSEJERO3,RFC_CONSEJERO4,
	RFC_CONSEJERO5,RFC_CONSEJERO6,SIGLAS,FECHA_OFICIO) values(@RFC_PEC,@RFC_CONSEJERO1,@RFC_CONSEJERO2,@RFC_CONSEJERO3,@RFC_CONSEJERO4,
	@RFC_CONSEJERO5,@RFC_CONSEJERO6,@SIGLAS,@FECHA_OFICIO)
		declare @IDF int;
		SELECT @IDF=MAX(ID_FIRMANTE1) from FIRMANTE1 where  RFC_PEC=@RFC_PEC and RFC_CONSEJERO1=@RFC_CONSEJERO1 and RFC_CONSEJERO2=@RFC_CONSEJERO2 and RFC_CONSEJERO3=@RFC_CONSEJERO3 and RFC_CONSEJERO4=@RFC_CONSEJERO4 and 
	RFC_CONSEJERO5=@RFC_CONSEJERO5 and RFC_CONSEJERO6=@RFC_CONSEJERO6 and SIGLAS=@SIGLAS and FECHA_OFICIO=@FECHA_OFICIO;
	    SET IDENTITY_INSERT FIRMANTE1_PERIODO ON;
		INSERT INTO FIRMANTE1_PERIODO(ID_FIRMANTE1,ID_PLANTEL, ID_AREA, ID_PERIODO) VALUES (@IDF, @ID_PLANTEL, @ID_AREA, @ID_PERIODO)
		SET IDENTITY_INSERT FIRMANTE1_PERIODO OFF;
	END
COMMIT TRAN t1;
