USE [PCEPI2]
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_INTEGRANTE]    Script Date: 11/19/2015 14:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_OBTENER_INTEGRANTE]
	@ID_PLANTEL int
	
AS	

declare @@var varchar(6)
SET @@var = CONVERT(varchar(6),@ID_PLANTEL)

SELECT NOMBRE, RFC FROM PROFESOR 
WHERE ID_PLANTEL LIKE '%' + @@var + '%'

