USE [PCEPI2]
GO
/****** Object:  StoredProcedure [dbo].[usp_AltaProyecto_Insertar]    Script Date: 11/25/2015 04:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[usp_Actualizar_Proyecto]
(
	@ID_PROYECTO int,
	@PLANTEL varchar(20),
	@PERIODO varchar(20),
	@ID_AREA int,
	@NUM_OFICIO varchar(25),
	@FECHA_EVAL smalldatetime,
	@TITULO varchar(100),
	@PRODUCTO varchar(100),
	@CAMPO varchar(100),
	@MATERIA  char(40),
	@DESCRIPCION_PROY varchar(1000),
	@OPINION_DIR varchar(20),
	@OBSERVACIONES varchar(500),
	@PROFESOR char(70)
)
AS
BEGIN
	DECLARE @AREA int
	DECLARE @PERIODOT varchar(20)
	DECLARE @ID int
	DECLARE @RFC varchar(13)
	DECLARE @ID_MATERIA char(4)  
	
	Select @PERIODOT=NOMBRE_PERIODO from PERIODO where NOMBRE_PERIODO=@PERIODO
	Select @ID_MATERIA=ID_MATERIA from MATERIA where MATERIA40=@MATERIA
	Select @RFC=RFC from PROFESOR where NOMBRE=@PROFESOR
	
	begin
			
		UPDATE PROYECTO
		SET PLANTEL=@PLANTEL,PERIODO=@PERIODO,ID_AREA=@ID_AREA, NUM_OFICIO=@NUM_OFICIO, FECHA_EVAL=GETDATE(), TITULO=@TITULO, PRODUCTO=@PRODUCTO, CAMPO=@CAMPO, DESCRIPCION_PROY=@DESCRIPCION_PROY, OPINION_DIR=@OPINION_DIR, OBSERVACIONES=@OBSERVACIONES
		WHERE ID_PROYECTO=@ID_PROYECTO
		
		
	end
	
END
