USE [PCEPI2]
GO
/****** Object:  StoredProcedure [dbo].[usp_AltaProyecto_Insertar]    Script Date: 11/18/2015 21:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AltaProyecto_Insertar]
(
	@PLANTEL varchar(20),
	@PERIODO varchar(20),
	@ID_AREA int,
	@NUM_OFICIO varchar(25),
	@FECHA_EVAL smalldatetime,
	@TITULO varchar(100),
	@PRODUCTO varchar(100),
	@CAMPO varchar(100),
	@MATERIA  char(40),
	@DESCRIPCION_PROY varchar(1000),
	@OPINION_DIR varchar(20),
	@OBSERVACIONES varchar(500),
	@PROFESOR char(70)
)
AS
BEGIN
	DECLARE @AREA int
	DECLARE @PERIODOT varchar(20)
	DECLARE @ID int
	DECLARE @RFC varchar(13)
	DECLARE @ID_MATERIA char(4)  
	
	Select @PERIODOT=NOMBRE_PERIODO from PERIODO where NOMBRE_PERIODO=@PERIODO
	Select @ID_MATERIA=ID_MATERIA from MATERIA where MATERIA40=@MATERIA
	Select @RFC=RFC from PROFESOR where NOMBRE=@PROFESOR
	
	begin
		insert into PROYECTO(PLANTEL, PERIODO, ID_AREA, NUM_OFICIO, FECHA_EVAL, TITULO, PRODUCTO, CAMPO, DESCRIPCION_PROY, OPINION_DIR,OBSERVACIONES)
		values( @PLANTEL, @PERIODOT, @ID_AREA, @NUM_OFICIO, GETDATE(), @TITULO, @PRODUCTO, @CAMPO, @DESCRIPCION_PROY, @OPINION_DIR,@OBSERVACIONES)
		
		SELECT @ID=MAX(ID_PROYECTO) FROM PROYECTO
		INSERT INTO PROYECTO_MP(ID_MATERIA, RFC, ID_PROYECTO)
		values(@ID_MATERIA, @RFC, @ID) 
	end
	select @@IDENTITY as IDPROYECTO
END
