USE [PCEPI2]
GO
/****** Object:  StoredProcedure [dbo].[usp_ListProyecto_GetProyectoIDActualizar]    Script Date: 11/18/2015 21:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListProyecto_GetProyectoIDActualizar]
@Id int

AS
BEGIN
	SELECT T1.ID_PROYECTO, T1.PLANTEL, T1.PERIODO, T1.ID_AREA, T1.NUM_OFICIO, T1.FECHA_EVAL, T1.TITULO, T1.PRODUCTO,T3.MATERIA40 , T1.CAMPO, T1.DESCRIPCION_PROY, T1.OPINION_DIR, T1.OBSERVACIONES,T4.NOMBRE
	FROM PROYECTO  as T1
	JOIN PROYECTO_MP as T2 ON T1.ID_PROYECTO = T2.ID_PROYECTO JOIN MATERIA AS T3 ON  T3.ID_MATERIA = T2.ID_MATERIA JOIN PROFESOR as T4 on T4.RFC = T2.RFC  where T1.ID_PROYECTO=2 
	END
